doctype 5
html
  head
    title BuddyRadar

    // dependencies
    script(src='vendor/remoteStorage.js')

    // main behaviour
    script(src='buddyradar.js')
    script(src='main.js')

    // styles
    link(rel='stylesheet', type='text/css', href='screen.css')

  body
    #remotestorage-connect
